chromadb==0.5.3
configparser==7.0.0
fastapi==0.111.0
langchain==0.2.6
langchain-community==0.2.6
langchain-core==0.2.10
langchain-openai==0.1.12
loguru==0.7.2
openai==1.35.7
pandas==2.2.2
pyarrow==16.1.0
pydantic==2.7.4
pytest==8.2.2
sentence-transformers==3.0.1
tiktoken==0.7.0
transformers==4.42.3
uvicorn==0.30.1
