<!DOCTYPE html>
<html lang='en'>
<head>
	<meta charset='UTF-8'>
	<meta name='viewport' content='width=device-width, initial-scale=1.0'>
	<title>Real Estate Agent | Nano Degree Project 4</title>
	<link rel='stylesheet' type='text/css' href='semantic/dist/semantic.min.css'>
	<script
	  src='https://code.jquery.com/jquery-3.1.1.min.js'
	  integrity='sha256-hVVnYaiADRTO2PzUGmuLJr8BLUSjGIZsDYGmIJLv2b8='
	  crossorigin='anonymous'></script>
	<script src='semantic/dist/semantic.min.js'></script>
	<link rel='stylesheet' type='text/css' href='/static/css/agent.css' />
</head>
<body>
	<main>
		<div class='title-bg' aria-hidden></div>
		<div class='title-section'>
			<span class='title-wrapper'>
				<h1 class='title'>Hello! Welcome to the Fake Estate bot</h1>
				<span aria-hidden class='decorative-cursor'>_</span>
			</span>
			<p class='subtitle'>Please answer a few questions to tailor your results</p>
		</div>
		<div class='entry-buttons'>
			<button class='entry-buttons_begin'>Begin your search</button>
		</div>
	</main>
</body>
<script src='/static/js/agent.js'></script>
</html>